*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --nav-font: "Unlock", cursive;
  --body-font: "Roboto", sans-serif; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  line-height: 1.5;
  font-family: var(--body-font); }

.navbar {
  position: relative;
  display: flex;
  align-items: center; }
  .navbar__logoBox {
    margin: 0.5rem; }
  .navbar__logo {
    height: 70px; }
  .navbar__nav-item {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
  .navbar__li {
    list-style: none;
    font-size: 1.4rem;
    letter-spacing: 1.4px;
    margin-right: 1rem; }
  .navbar__nav-links {
    text-transform: uppercase;
    border-radius: 1rem;
    color: #fff;
    padding: 0.6rem 2rem;
    transition: all 0.5s linear; }
    .navbar__nav-links:hover {
      background-color: #fff;
      color: #222; }
  .navbar::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #222;
    z-index: -1;
    opacity: 0.9; }

.btn {
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  letter-spacing: 1.5px;
  cursor: pointer;
  font-size: 1.5rem; }
  .btn:active {
    transform: translateY(2px); }

.container {
  width: 1140px;
  margin: 0 auto; }

.title {
  text-align: center;
  color: #20aa9c;
  font-size: 3rem;
  letter-spacing: 3px;
  margin: 20px 0; }
  .title span {
    position: relative;
    display: inline-block; }
    .title span::before {
      content: "";
      width: 30%;
      height: 3px;
      position: absolute;
      background-color: #20aa9c;
      top: 37px;
      border-radius: 50%;
      box-shadow: 0px 3px 5px 0px; }

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3px 200px;
  min-height: 70.2vh;
  font-size: 1.5rem;
  color: #fff; }
  .banner__heading {
    font-size: 4rem;
    font-style: italics;
    letter-spacing: 5px;
    font-family: var(--nav-font); }
  .banner__parg {
    padding: 10px 17rem;
    justify-content: center;
    text-align: center;
    font-family: "Courier New", Courier, monospace; }
  .banner__btn {
    background-color: #20aa9c;
    color: #fff;
    margin-top: 20px; }
  .banner::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.541), rgba(0, 0, 0, 0.486)), url(../img/banner/bannerbg1.jpg);
    background-size: cover;
    position: absolute;
    z-index: -100; }

.ourservice {
  margin-top: 100px;
  margin-bottom: 50px; }
  .ourservice__content {
    display: flex;
    justify-content: center;
    align-items: center; }
  .ourservice__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    border: 2px dotted #747678; }
    .ourservice__box:hover .ourservice__boxImg {
      transition: all 0.2s linear;
      width: 208px;
      height: 208px;
      cursor: pointer; }
  .ourservice .imgdiv {
    width: 208px;
    height: 208px;
    border: 2px solid orangered;
    border-radius: 50%;
    position: relative; }
  .ourservice__boxImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #20aa9c;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-out;
    transform: translate(-50%, -50%); }
  .ourservice__boxTitle {
    text-transform: capitalize;
    font-size: 2rem;
    padding-top: 10px;
    letter-spacing: 2px; }
  .ourservice__boxPrag {
    padding: 6px 20%;
    color: #444343;
    text-align: center; }

.ourclient {
  padding: 20px 0;
  min-height: 50vh;
  background-image: url(../img/ourclient/ourclientbg.jpg);
  background-position-y: -330px;
  background-repeat: no-repeat;
  background-size: 100%; }
