*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --nav-font: "Unlock", cursive;
  --body-font: "Roboto", sans-serif; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 34.5%; } }
  @media screen and (max-width: 425px) {
    html {
      font-size: 16.5%; } }
  @media screen and (max-width: 375px) {
    html {
      font-size: 19.5%; } }
  @media screen and (max-width: 320px) {
    html {
      font-size: 15.5%; } }

body {
  overflow-x: hidden;
  line-height: 1.5;
  font-family: var(--body-font); }

.navbar {
  position: relative;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column; } }
  .navbar__logoBox {
    margin: 0.5rem; }
  .navbar__logo {
    height: 7rem; }
    @media screen and (max-width: 425px) {
      .navbar__logo {
        height: 18rem; } }
    @media screen and (max-width: 320px) {
      .navbar__logo {
        height: 19rem; } }
  .navbar__nav-item {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .navbar__nav-item {
        justify-content: center;
        margin: 1rem 0; } }
  .navbar__li {
    list-style: none;
    font-size: 1.4rem;
    letter-spacing: 1.4px;
    margin-right: 1rem; }
    @media screen and (max-width: 425px) {
      .navbar__li {
        font-size: 3.4rem;
        margin: 3rem 0; } }
    @media screen and (max-width: 320px) {
      .navbar__li {
        font-size: 4rem; } }
  .navbar__nav-links {
    text-transform: uppercase;
    border-radius: 1rem;
    color: #fff;
    padding: 0.6rem 2rem;
    transition: all 0.5s linear; }
    .navbar__nav-links:hover {
      background-color: #fff;
      color: #222; }
  .navbar::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #222;
    z-index: -1;
    opacity: 0.9; }

.btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  letter-spacing: 1.5px;
  cursor: pointer;
  font-size: 1.5rem; }
  @media screen and (max-width: 425px) {
    .btn {
      font-size: 6.5rem; } }
  @media screen and (max-width: 320px) {
    .btn {
      font-size: 6rem; } }
  .btn:active {
    transform: translateY(2px); }

.container {
  width: 80%;
  margin: 0 auto; }

.title {
  text-align: center;
  color: #20aa9c;
  font-size: 3rem;
  letter-spacing: 3px;
  margin: 2rem 0;
  position: relative; }
  @media screen and (max-width: 425px) {
    .title {
      font-size: 8rem; } }
  @media screen and (max-width: 320px) {
    .title {
      font-size: 7rem;
      margin: 6rem 0; } }
  .title span {
    position: relative;
    display: inline-block;
    z-index: 99; }
    .title span::before {
      content: "";
      width: 30%;
      height: 0.3rem;
      position: absolute;
      background-color: #20aa9c;
      top: 3.7rem;
      border-radius: 50%;
      box-shadow: 0px 3px 5px 0px; }
      @media screen and (max-width: 425px) {
        .title span::before {
          top: 9.7rem; } }
      @media screen and (max-width: 320px) {
        .title span::before {
          top: 9.7rem; } }

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .form-group {
      width: 70%;
      margin: 4rem auto; } }
  @media screen and (max-width: 320px) {
    .form-group {
      width: 100%;
      height: 21vh; } }
  .form-group label {
    align-self: flex-start;
    font-size: 1.5rem;
    padding-top: 2rem;
    color: #20aa9c;
    font-weight: 700;
    letter-spacing: 2px; }
    @media screen and (max-width: 425px) {
      .form-group label {
        font-size: 4.5rem; } }
  .form-group input {
    width: 100%;
    padding: 1.1rem;
    border-color: #20aa9c;
    border-radius: 5px;
    transition: all 0.5s linear; }
  .form-group .btn {
    align-self: flex-end;
    margin-top: 2rem; }

.space {
  height: 2rem;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.562)); }

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 20rem;
  min-height: 70.2vh;
  font-size: 1.5rem;
  color: #fff; }
  @media screen and (max-width: 425px) {
    .banner {
      min-height: 64.2vh; } }
  .banner__heading {
    font-size: 4rem;
    font-style: italics;
    letter-spacing: 5px;
    font-family: var(--nav-font); }
    @media screen and (max-width: 425px) {
      .banner__heading {
        font-size: 8rem; } }
  .banner__parg {
    padding: 1rem 17rem;
    justify-content: center;
    text-align: center;
    font-family: "Courier New", Courier, monospace; }
    @media screen and (max-width: 425px) {
      .banner__parg {
        font-size: 3.4rem;
        padding: 12rem 0rem; } }
    @media screen and (max-width: 320px) {
      .banner__parg {
        padding: 7rem 0;
        font-size: 3.3rem; } }
  .banner__btn {
    background-color: #20aa9c;
    color: #fff;
    margin-top: 2rem; }
  .banner::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.541), rgba(0, 0, 0, 0.486)), url(../img/banner/bannerbg1.jpg);
    background-size: cover;
    position: absolute;
    z-index: -100; }

.ourservice {
  margin-top: 10rem;
  margin-bottom: 5rem; }
  @media screen and (max-width: 768px) {
    .ourservice {
      margin-top: 15rem; } }
  @media screen and (max-width: 425px) {
    .ourservice {
      margin-top: 39rem; } }
  @media screen and (max-width: 414px) {
    .ourservice {
      margin-top: 51rem; } }
  @media screen and (max-width: 320px) {
    .ourservice {
      margin-top: 34rem; } }
  .ourservice__content {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .ourservice__content {
        flex-direction: column; } }
  .ourservice__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 15px;
    border: 2px dotted #747678; }
    .ourservice__box:hover .ourservice__boxImg {
      transition: all 0.2s linear;
      width: 20.8rem;
      height: 20.8rem;
      cursor: pointer; }
  .ourservice .imgdiv {
    width: 20.8rem;
    height: 20.8rem;
    border: 2px solid orangered;
    border-radius: 50%;
    position: relative; }
  .ourservice__boxImg {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 2px solid #20aa9c;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-out;
    transform: translate(-50%, -50%); }
  .ourservice__boxTitle {
    text-transform: capitalize;
    font-size: 2rem;
    padding-top: 1rem;
    letter-spacing: 2px; }
    @media screen and (max-width: 425px) {
      .ourservice__boxTitle {
        font-size: 6rem; } }
    @media screen and (max-width: 320px) {
      .ourservice__boxTitle {
        font-size: 6rem; } }
  .ourservice__boxPrag {
    padding: 0.6rem 20%;
    color: #444343;
    text-align: center; }
    @media screen and (max-width: 425px) {
      .ourservice__boxPrag {
        font-size: 4rem; } }
    @media screen and (max-width: 320px) {
      .ourservice__boxPrag {
        font-size: 4rem; } }

.ourclient {
  padding: 2rem 0;
  min-height: 50vh;
  position: relative;
  background-image: url(../img/ourclient/ourclientbg.jpg);
  background-position-y: -31rem;
  background-repeat: no-repeat;
  background-size: 100%; }
  @media screen and (max-width: 768px) {
    .ourclient {
      background-position-y: -21rem; } }
  @media screen and (max-width: 425px) {
    .ourclient {
      min-height: 31vh; } }
  @media screen and (max-width: 414px) {
    .ourclient {
      min-height: 19vh; } }
  @media screen and (max-width: 320px) {
    .ourclient {
      min-height: 31vh;
      background-position-y: 0; } }
  .ourclient__contentBox {
    display: flex;
    justify-content: space-around; }
  .ourclient img {
    width: 10rem;
    z-index: 1; }
  .ourclient::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    position: absolute;
    top: 0; }

.contactus {
  position: relative;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.658)); }
  @media screen and (max-width: 425px) {
    .contactus {
      height: 40vh; } }
  @media screen and (max-width: 320px) {
    .contactus {
      padding-top: 5rem; } }
  .contactus #bgvid {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .contactus__submitBtn {
    background-color: #20aa9c;
    color: #fff; }
  .contactus .title {
    margin: 0;
    padding-top: 2rem; }

.footer {
  padding: 1.5rem 0;
  background-color: #222;
  opacity: 0.9; }
  .footer__contentBox {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__contentBox a {
      color: #fff;
      letter-spacing: 2px; }
