*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-font: "Unlock", cursive;
  --body-font: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%; //10 px
  @media screen and (max-width: 768px) {
    font-size: 34.5%;
  }
  @media screen and (max-width: 425px) {
    font-size: 16.5%;
  }
  @media screen and(max-width:375px) {
    font-size: 19.5%;
  }
  @media screen and (max-width: 320px) {
    font-size: 15.5%;
  }
}
body {
  overflow-x: hidden;
  line-height: 1.5;
  font-family: var(--body-font);
}
