.ourclient {
  padding: 20px 0;
  min-height: 50vh;
  background-image: url(../img/ourclient/ourclientbg.jpg);
  background-position-y: -330px;
  background-repeat: no-repeat;
  background-size: 100%;
}
