.ourservice {
  margin-top: 10rem;
  margin-bottom: 5rem;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 15px;
    border: 2px dotted #747678;
    &:hover .ourservice__boxImg {
      transition: all 0.2s linear;
      width: 20.8rem;
      height: 20.8rem;
      cursor: pointer;
    }
  }
  .imgdiv {
    width: 20.8rem;
    height: 20.8rem;
    border: 2px solid orangered;
    border-radius: 50%;
    position: relative;
  }
  &__boxImg {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 2px solid #20aa9c;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-out;
    transform: translate(-50%, -50%);
  }

  &__boxTitle {
    text-transform: capitalize;
    font-size: 2rem;
    padding-top: 1rem;
    letter-spacing: 2px;
  }
  &__boxPrag {
    padding: 0.6rem 20%;
    color: rgb(68, 67, 67);
    text-align: center;
  }
}
